<div class="container hero-unit">
	<h1>Welcome to the landing page....</h1>

	<!-- This needs to change
	This needs to change
	This needs to change -->
	<br />
	<br />
	<br />
	<!-- Styling -->
	
	<div class="span3">
		<h2>Paragraph One</h2>
	</div>
	<div class="span3">
		<h2>Paragraph Two</h2>
	</div>
	<div class="span3">
		<h2>Paragraph Three</h2>
	</div>
	<class="btn btn-primary">
	</div>
	<center><%= link_to "Browse Quizzes", quizzes_path, :class => "btn btn-primary", :style => "font-size:24px; padding:1.5%;" %></center>
</div>